JWT_SECRET=secret
HMAC_SECRET=secret

MONGO_INIT_USERNAME=root
MONGO_INIT_PASSWORD=root
MONGO_USERNAME=mongo
MONGO_PASSWORD=pass
MONGO_DATABASE=gateway
MONGODB_URL=mongodb://mongo:pass@localhost:27701,localhost:27702/gateway?replicaSet=mongo-set

RABBITMQ_URL=

CORE_GRPC_URL=
